pipeline/pl_first_transformation.json
{
	"name": "pl_first_transformation",
	"properties": {
		"activities": [
			{
				"name": "purgeBronze",
				"type": "Delete",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_Parquet1",
						"type": "DatasetReference",
						"parameters": {
							"dsp_folder": " "
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "ls_AzureBlobStorage1",
							"type": "LinkedServiceReference"
						},
						"path": "log"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"wildcardFileName": " ",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "purgeBronze",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.plp_tag",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "flowfromLandingtoBronze_copy1",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_dataflow1",
									"type": "DataFlowReference",
									"datasetParameters": {
										"source1": {
											"dsp_folder": {
												"value": "@item()",
												"type": "Expression"
											}
										},
										"sink1": {
											"dsp_folder": {
												"value": "@item()",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "flowfromLandingtoBronze_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@item()",
											"type": "Expression"
										},
										"wildcardFileName": "*.parquet",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "ParquetReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings",
										"copyBehavior": "MergeFiles"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_Parquet1",
									"type": "DatasetReference",
									"parameters": {
										"dsp_folder": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_Parquet1",
									"type": "DatasetReference",
									"parameters": {
										"dsp_folder": {
											"value": "@pipeline().parameters.plp_union_folder",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "flowBronzetoSIlver",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "purgeSilver",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_integration",
						"type": "DataFlowReference",
						"datasetParameters": {
							"source1": {
								"dsp_folder": {
									"value": "@pipeline().parameters.plp_union_folder",
									"type": "Expression"
								}
							},
							"sink1factdata": {
								"dsp_folder": {
									"value": "@pipeline().parameters.plp_fact_folder",
									"type": "Expression"
								}
							},
							"sink1dimdata": {
								"dsp_folder": {
									"value": "@pipeline().parameters.plp_dim_folder",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "purgeSilver",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "flowfromlandingtoBrinze_answer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_Parquet_silver",
						"type": "DatasetReference",
						"parameters": {
							"dsp_folder": " "
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "ls_AzureBlobStorage1",
							"type": "LinkedServiceReference"
						},
						"path": "log"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "flowbronzeto_silver_answer",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "purgeSilver",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@pipeline().parameters.plp_answer",
								"type": "Expression"
							},
							"wildcardFileName": "*.parquet",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_Parquet1",
						"type": "DatasetReference",
						"parameters": {
							"dsp_folder": {
								"value": "@pipeline().parameters.plp_answer",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_Parquet_silver",
						"type": "DatasetReference",
						"parameters": {
							"dsp_folder": {
								"value": "@pipeline().parameters.plp_answer",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "flowfromlandingtoBrinze_answer",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "purgeBronze",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_dataflow1_answer",
						"type": "DataFlowReference",
						"datasetParameters": {
							"source2": {
								"dsp_folder": {
									"value": "@pipeline().parameters.plp_answer",
									"type": "Expression"
								}
							},
							"sink2": {
								"dsp_folder": {
									"value": "@pipeline().parameters.plp_answer",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"parameters": {
			"plp_tag": {
				"type": "array",
				"defaultValue": [
					"python",
					"databricks"
				]
			},
			"plp_union_folder": {
				"type": "string",
				"defaultValue": "union"
			},
			"plp_fact_folder": {
				"type": "string",
				"defaultValue": "fact"
			},
			"plp_dim_folder": {
				"type": "string",
				"defaultValue": "dim"
			},
			"plp_answer": {
				"type": "string",
				"defaultValue": "answer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-05-02T00:45:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}