pipeline/PL_first_master.json
{
	"name": "PL_first_master",
	"properties": {
		"activities": [
			{
				"name": "ingest",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "loggingpipelinestart",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "fromdate",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "todate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_first_ingest",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"plp_tag": {
							"value": "@pipeline().parameters.mplp_tag",
							"type": "Expression"
						},
						"answer_folder": {
							"value": "@pipeline().parameters.mplp_answer",
							"type": "Expression"
						},
						"plp_fromdate": {
							"value": "@variables('fromdate')",
							"type": "Expression"
						},
						"plp_todate": {
							"value": "@variables('todate')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "transformation",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ingest",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_first_transformation",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"plp_tag": {
							"value": "@pipeline().parameters.mplp_tag",
							"type": "Expression"
						},
						"plp_union_folder": {
							"value": "@pipeline().parameters.mplp_union_folder",
							"type": "Expression"
						},
						"plp_fact_folder": {
							"value": "@pipeline().parameters.mplp_fact_folder",
							"type": "Expression"
						},
						"plp_dim_folder": {
							"value": "@pipeline().parameters.mplp_dim_folder",
							"type": "Expression"
						},
						"plp_answer": {
							"value": "@pipeline().parameters.mplp_answer",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "load",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "transformation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_first_load",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"plp_tags": {
							"value": "@pipeline().parameters.mplp_tag",
							"type": "Expression"
						},
						"sql_schema": {
							"value": "@pipeline().parameters.mplp_sql_schema",
							"type": "Expression"
						},
						"sql_table_fact": {
							"value": "@pipeline().parameters.mplp_sql_fact_table",
							"type": "Expression"
						},
						"sql_table_dim": {
							"value": "@pipeline().parameters.mplp_sql_dim_table",
							"type": "Expression"
						},
						"plp_fact_folder": {
							"value": "@pipeline().parameters.mplp_fact_folder",
							"type": "Expression"
						},
						"plp_dim_folder": {
							"value": "@pipeline().parameters.mplp_dim_folder",
							"type": "Expression"
						},
						"plp_answer": {
							"value": "@pipeline().parameters.mplp_answer",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "loggingpipelinestart",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "insert into logging.pipelinerun(\r\npipelinerunID ,\r\npipelineName ,\r\npipelineStartTime ,\r\npipelineEndTime ,\r\npipelineStatus \r\n) values(\r\n'@{pipeline().RunId}',\r\n'@{pipeline().Pipeline}',\r\ngetUTCdate(),\r\nnull,\r\n'Starting'\r\n)"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "loggingpipelinesEnd",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "load",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "update logging.pipelinerun\r\nset pipelineEndTime=getUTCdate(),\r\n    pipelineStatus ='@{activity('load').status}'\r\nwhere   pipelinerunID= '@{pipeline().RunId}'\r\nand  pipelineStatus ='Starting'\r\n"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select pipelineStartTime from @{pipeline().parameters.mplp_logging_schema}.@{pipeline().parameters.mplp_logging_view} \nwhere pipelineName='@{pipeline().Pipeline}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"sql_schema": {
								"value": "@pipeline().parameters.mplp_logging_schema",
								"type": "Expression"
							},
							"sql_table": {
								"value": "@pipeline().parameters.mplp_logging_view",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "fromdate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "fromdate",
					"value": "@{div(sub(ticks(activity('Lookup1').output.firstRow.pipelineStartTime),ticks('1970-01-01')),10000000)}"
				}
			},
			{
				"name": "todate",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "todate",
					"value": {
						"value": "@{div(sub(ticks(utcnow()),ticks('1970-01-01')),10000000)}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "sendemail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "load",
						"dependencyConditions": [
							"Skipped",
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-78.eastus.logic.azure.com:443/workflows/efd3d8c2bfe4466691d3807982e855df/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=FI9DaeKqd2NpHg0ZWDFF0myjYQXRBWWDuGLsrIw9qok",
					"body": {
						"message": "the pipeline with run id @{pipeline().RunId} is having issue",
						"pipelineName": "@{pipeline().Pipeline}",
						"receiver": "@{pipeline().parameters.receiver}"
					}
				}
			}
		],
		"parameters": {
			"mplp_tag": {
				"type": "array",
				"defaultValue": [
					"python",
					"databricks"
				]
			},
			"mplp_union_folder": {
				"type": "string",
				"defaultValue": "union"
			},
			"mplp_fact_folder": {
				"type": "string",
				"defaultValue": "fact"
			},
			"mplp_dim_folder": {
				"type": "string",
				"defaultValue": "dim"
			},
			"mplp_sql_schema": {
				"type": "string",
				"defaultValue": "sto"
			},
			"mplp_sql_fact_table": {
				"type": "string",
				"defaultValue": "factQuestions"
			},
			"mplp_sql_dim_table": {
				"type": "string",
				"defaultValue": "dimOwners"
			},
			"mplp_answer": {
				"type": "string",
				"defaultValue": "answer"
			},
			"mplp_logging_schema": {
				"type": "string",
				"defaultValue": "logging"
			},
			"mplp_logging_view": {
				"type": "string",
				"defaultValue": "vpipelinerun"
			},
			"receiver": {
				"type": "string",
				"defaultValue": "shiyigong17@gmail.com"
			}
		},
		"variables": {
			"fromdate": {
				"type": "String"
			},
			"todate": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-05-02T00:45:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}