pipeline/pl_first_ingest.json
{
	"name": "pl_first_ingest",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.plp_tag",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1_copy1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Delete1",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings",
										"copyBehavior": "FlattenHierarchy"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_RestResource1",
									"type": "DatasetReference",
									"parameters": {
										"dsp_tag": {
											"value": "@item()",
											"type": "Expression"
										},
										"fromdate": {
											"value": "@pipeline().parameters.plp_fromdate",
											"type": "Expression"
										},
										"todate": {
											"value": "@pipeline().parameters.plp_todate",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_Json1",
									"type": "DatasetReference",
									"parameters": {
										"dsp_folder": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete1",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_Json1",
									"type": "DatasetReference",
									"parameters": {
										"dsp_folder": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "ls_AzureBlobStorage1",
										"type": "LinkedServiceReference"
									},
									"path": "log"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			},
			{
				"name": "Copy data1_answer to landing",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Delete2",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_RestResource2",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_Json1",
						"type": "DatasetReference",
						"parameters": {
							"dsp_folder": {
								"value": "@pipeline().parameters.answer_folder",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Delete2",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_Json1",
						"type": "DatasetReference",
						"parameters": {
							"dsp_folder": {
								"value": "@pipeline().parameters.answer_folder",
								"type": "Expression"
							}
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "ls_AzureBlobStorage1",
							"type": "LinkedServiceReference"
						},
						"path": "log"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"parameters": {
			"plp_tag": {
				"type": "array",
				"defaultValue": [
					"python",
					"databricks",
					"answer"
				]
			},
			"answer_folder": {
				"type": "string",
				"defaultValue": "answer"
			},
			"plp_fromdate": {
				"type": "string"
			},
			"plp_todate": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-05-02T00:45:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}